@media only screen and (max-width: 600px) {
    body {
	padding: 20px;
    }
}

h1 {
    padding-top: 20px;
    font-size: 1.5rem;
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
}

h2 {
    padding-top: 10px;
    font-size: 1.1rem;
    font-family: "Helvetica", sans-serif;
    color: darkslateblue;
}

h3 {
    margin-bottom: -1em;
    font-size: 0.8rem;
    font-family: "Helvetica", sans-serif;
}

body {
    margin: auto;
    max-width: 500px;
    line-height: 1.2;
    text-align: justify;
    font-family: "Helvetica", sans-serif;
}

a {
    color: darkslateblue;
    text-decoration: none;
    font-family: mono;
}

mark {
 background-color:#DCDCDC;
}

.pub {
    font-size: 0.8rem;
    font-family: "Helvetica", sans-serif;
}

#postamble {
    font-size: 0.8rem;
    font-family: mono;
}
